@{
    ViewData["Title"] = "About";
}

<div id="about-page" class="full-center">
    <div class="text-center">
        <p>Now hold on, this hasn't been written yet!</p>
        <p>🤯</p>
    </div>
</div>