@{
    ViewData["Title"] = "About";
}

@section Head
{ 
    <link rel="stylesheet" href="~/css/about.css" />
}

<div id="about-page">
    <div class="column-container">
        <div class="column full-center">
            <div class="banner">
                <div class="banner-content full-center">
                    <p>
                        <strong>DnDTracker</strong> was made by these four computer science students going to the University of North Texas:
                    </p>
                    <ul>
                        <li><a href="https://github.com/TylerCarey98">Tyler Carey</a></li>
                        <li><a href="https://github.com/itsmistad">Derek Williamson</a></li>
                        <li><a href="https://github.com/nathanielduncan">Nathan Duncan</a></li>
                        <li><a href="https://github.com/AndrewSchlein">Andrew Schlein</a></li>
                    </ul>
                    <p>
                        To find out more about them, feel free to check out their Github pages linked above!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="column-container">
        <div class="column full-center">
            <div class="banner second">
                <div class="banner-content full-center">
                    <p>
                        The team lead for <strong>DnDTracker</strong> was Derek Williamson, with his second in command Tyler Carey they started teaching Andrew Schlein and Nathan Duncan C#, HTML, (S)CSS, and just in general the good practices of programming. Nathan Duncan was the expert on DnD, providing all the information on what we would need for the website to be usable for the players and for the DM's. Andrew Schlein provided a creative interpretation of the website, bringing his knowledge of how a website should be layed out and how different items should be arranged on the pages for easier access throughout playing.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>