@{
    ViewData["Title"] = "About";
}

<div id="about-page">
    <div class="column-container full-height">
        <div class="column full-center">
            <div class="wide banner with-top-bot-margins">
                <div class="banner-content">
                    <p>
                        <strong>DnDTracker</strong> was made by these four University of North Texas CSCE3444 students:
                    </p>
                    <ul>
                        <li><a href="https://github.com/TylerCarey98">Tyler Carey</a></li>
                        <li><a href="https://github.com/itsmistad">Derek Williamson</a></li>
                        <li><a href="https://github.com/nathanielduncan">Nathan Duncan</a></li>
                        <li><a href="https://github.com/AndrewSchlein">Andrew Schlein</a></li>
                    </ul>
                    <p>
                        To find out more about them, click their names above and check out their Github pages!
                    </p>
                </div>
            </div>
            <div class="wide banner with-top-bot-margins">
                <div class="banner-content">
                    <p>
                        <strong>DnDTracker</strong> was started to help the previously mentioned developers learn full-stack integration with ASP.NET (C#), Sass, AWS, and Travis CI.
                    </p>
                    <p>
                        <span class="underline">Tyler Carey</span> oversaw the UI design. <br />
                        <span class="underline">Derek Williamson</span> designed the core and architecture. <br />
                        <span class="underline">Nathan Duncan</span> filled the role of resident pseudo-expert on DnD. His efforts provided all the requirements on what the team would need to design the application for players and for dungeon masters. <br />
                        <span class="underline">Andrew Schlein</span> provided a creative interpretation of the website, simplifying the user experience. <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>