@{
    // Every .cshtml page should have their "Title" set at the top.
    ViewData["Title"] = "Home";
    var appConfig = Singleton.Get<AppConfig>();
    var envConfig = Singleton.Get<EnvironmentConfig>();
    var welcomeMessage = appConfig[ConfigKeys.System.WelcomeMessage];
}

<!-- This is the container for the Index page ("index-page"). Please follow this standard. -->
    <div id="index-page">
        <div class="column-container">
            <div class="column">
                <div class="banner">
                    <div class="column-container">
                        <div class="column">
                            <div class="text-center banner-text">
                                <p>DnDTracker is a website utility for DnD players. It is designed to replace the use of pen and paper during campaigns as well as brings a new feel and easier way of accessing and playing the game.</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="text-center banner-text">
                                <p>Image or Video can go here.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner">
                    <div class="column-container">
                        <div class="column">
                            <div class="text-center banner-text">
                                <p>Image or video can go here, or it can get obliterated.</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="text-center banner-text">
                                <p>DnDTracker was created with beginner players in mind however, those who are true fans of the game don't fret. We had a expert player/DM walk through and yell at us about all the important features that should be added. Whether you're a new player or someone who can recite the base campaign backwards by memory, this new DnDTracker utility will help spice up your late nights with friends.</p>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="banner">
                    <div class="column-container">
                        <div class="column">
                            <div class="text-center banner-text">
                                <p>DnDTracker CAN:</p>
                                <p>-track previous and current campaigns</p>
                                <p>-roll the dice at the click of a button</p>
                                <p>-allow the DM to adjust players stats and make notes about the campaign</p>
                                <p>-allow users to create characters and login to the website to save created characters</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="text-center banner-text">
                                <p>sAmE sHIt DIfFeREnT bAnNeR</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner">
                    <div class="column-container">
                        <div class="column">
                            <div class="text-center banner-text">
                                <p>If i have to type that same message again I'm deleting this .sln file.</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="text-center banner-text">
                                <p>DnDTracker WON'T:</p>
                                <p>-give you up</p>
                                <p>-let you down</p>
                                <p>-run around</p>
                                <p>-desert you</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@{/* Every .cshtml page can have a Scripts section. It is not required. */}
@section Scripts
{
    <script>
        $(function() {
            // Document is now ready. You can now use jQuery (or plain Javascript).
        })
    </script>
}
