@{
    // Every .cshtml page should have their "Title" set at the top.
    ViewData["Title"] = "Home";
    var appConfig = Singleton.Get<AppConfig>();
    var envConfig = Singleton.Get<EnvironmentConfig>();
    var welcomeMessage = appConfig[ConfigKeys.System.WelcomeMessage];
}

<!-- This is the container for the Index page ("index-page"). Please follow this standard. -->
    <div id="index-page">
        <div id="home-logo" class="text-center full-center">
            <a href="@envConfig.CurrentHomeUrl"><h1>DnDTracker</h1></a>
            <hr/>
            <p>A <i>Dungeons & Dragons™</i> campaign utility and data tracker.</p>
        </div>
        <hr/>
        <div class="column-container">
            <div class="column full-center">
                <div class="banner full-center">
                    <div class="banner-content">
                        <p>
                            <strong>DnDTracker</strong> is a free web application for <i>Dungeons & Dragons™</i>.
                            <br/><br/>
                            It is designed to replace the use of pen and paper with campaigns and to bring a new, easier way of accessing and playing the game.
                        </p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="full-center">
                    <!-- Insert content-->
                    <img style="box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.7);" src="assets/placeholder_150x150.png"/>
                </div>
            </div>
        </div>
        <div class="column-container">
            <div class="column">
                <div class="full-center">
                    <!-- Insert content-->
                    <img style="box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.7);" src="assets/placeholder_150x150.png" />
                </div>
            </div>
            <div class="column full-center">
                <div class="banner second full-center">
                    <div class="banner-content">
                        <p>
                            <strong>DnDTracker</strong> is for all character players and dungeon masters, newbies and true fans alike.
                            <br/><br/>
                            Whether you're a new player or someone who can recite the base campaign backwards by memory, this new <strong>DnDTracker</strong> utility will help spice up your late nights with friends.
                        </p>
                    </div> 
                </div>
            </div>
        </div>
        <div class="column-container">
            <div class="column full-center">
                <div class="banner full-center">
                    <div class="banner-content">
                        <p><strong>DnDTracker</strong> helps you do the following:</p>
                        <ul>
                            <li>Track previous and current campaigns.</li>
                            <li>Roll the dice at the click of a button.</li>
                            <li>Create new characters and import them into a campaign.</li>
                            <li>Adjust, modify, and maintain a campaign or party as a DM.</li>
                            <li>View details of other party members.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="full-center">
                    <!-- Insert content-->
                    <img style="box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.7);" src="assets/placeholder_150x150.png" />
                </div>
            </div>
        </div>
        <div class="column-container">
            <div class="column">
                <div class="full-center">
                    <!-- Insert content-->
                    <img style="box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.7);" src="assets/placeholder_150x150.png" />
                </div>
            </div>
            <div class="column full-center">
                <div class="banner second full-center">
                    <div class="banner-content">
                        <p><strong>DnDTracker</strong> cannot do the following:</p>
                        <ul>
                            <li>Give you up.</li>
                            <li>Let you down.</li>
                            <li>Run around.</li>
                            <li>Desert you.</li>
                            <!-- This list needs to become a list of features we DON'T have implemented (whether or not we plan to) -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts
{
    <script>
        $(function() {
        })
    </script>
}
