/*=============================================
=             Screen Size Mixins              =
=============================================*/
/*=============================================
=                   End Mixins                =
=============================================*/
/* Base container */
html, body {
  width: 100%;
  top: 0;
  left: 0;
  font-family: 'Montserrat', Arial;
  font-size: 16px;
  margin: 0; }
  @media only screen and (max-width: 799.9px) {
    html, body {
      font-size: 12.8px; } }

/* Shared classes */
body {
  display: flex;
  flex-direction: column;
  background-image: url("/assets/cubes.svg"); }
  body .text-center {
    text-align: center; }
  body .text-right {
    text-align: right; }
  body .full-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
  body .force-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute; }
  body .full-width {
    width: 100%;
    left: 0; }
  body .page-width-padding {
    padding: 0 40px; }
  body .border-bottom {
    border-bottom: 1px solid #eeeeee; }
  body .border-top {
    border-top: 1px solid #eeeeee; }
  body a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s ease-in-out; }
    body a:hover {
      color: #7777ff; }
  body textarea {
    border: none;
    transition: 0.3s;
    outline-color: transparent; }
    body textarea:focus {
      outline-color: #7777ff; }
    body textarea[readonly] {
      background-color: #eeeeee;
      cursor: default; }
      body textarea[readonly]:focus {
        outline-color: inherit; }
  body select,
  body input {
    font-size: 1em;
    padding: 4px 10px;
    border: none;
    transition: 0.3s;
    outline-color: transparent; }
    body select:focus,
    body input:focus {
      outline-color: #7777ff; }
    body select[readonly],
    body input[readonly] {
      background-color: #eeeeee;
      cursor: default; }
      body select[readonly]:focus,
      body input[readonly]:focus {
        outline-color: inherit; }
  body input[type=number]::-webkit-inner-spin-button,
  body input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  body span.underline {
    text-decoration: underline; }
  body button {
    margin: 2px 6px 4px;
    padding: 10px 20px;
    font-family: Montserrat, Arial;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    transition: 0.2s ease-out, 0.05s transform;
    cursor: pointer;
    user-select: none; }
    body button.thick {
      /* Had to settle on this because "slim t h i c c" gave me CSS pre-processor errors. */
      padding-top: 20px;
      padding-bottom: 20px; }
    body button.full-width {
      width: 100%; }
    body button.medium {
      /* Buttons are "small" by default. */
      padding-left: 40px;
      padding-right: 40px; }
    body button.large {
      padding-left: 40px;
      padding-right: 40px; }
    body button:hover {
      background-color: #7777ff; }
    body button:active {
      background-color: #39397c;
      transform: translate(0, 2px); }
    body button:active, body button:focus {
      outline: none; }
    body button[disabled] {
      cursor: not-allowed;
      background-color: #888; }
      body button[disabled]:hover {
        background-color: #888; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    font-family: 'Montserrat', Arial; }
  body .banner {
    background-color: #ACC1F6;
    min-height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px -3px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    max-height: 100%; }
    body .banner.full-height {
      height: 100%; }
    body .banner.with-side-margins {
      margin-left: 20px;
      margin-right: 20px; }
    body .banner.with-top-bot-margins {
      margin-top: 20px;
      margin-bottom: 20px; }
    body .banner.wide {
      max-width: 800px; }
      body .banner.wide .banner-content {
        max-width: 650px; }
    body .banner.left {
      justify-content: left;
      align-items: initial; }
    body .banner .banner-content {
      margin: 0;
      padding: 30px;
      line-height: 24px;
      height: 100%;
      font-size: 1em; }
      body .banner .banner-content.full-width {
        max-width: none;
        width: 100%; }
      body .banner .banner-content.full-center {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: unset; }
        body .banner .banner-content.full-center p {
          width: 100%; }
    body .banner:nth-of-type(2n), body .banner.second {
      background-color: #f6e1ac; }
  body .column-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 30px 0; }
    body .column-container.center {
      align-items: center; }
    body .column-container.no-gutters {
      padding: 0; }
    body .column-container.full-height {
      height: 100%;
      padding: 0; }
    body .column-container .column {
      width: 100%;
      margin: 0 30px; }
      body .column-container .column.full-center {
        align-items: center;
        justify-content: center; }
      body .column-container .column.full-height {
        height: 100%; }
      body .column-container .column.no-gutters {
        margin: 0; }
  @media only screen and (max-width: 539.9px) {
    body .hide-on-phones {
      display: none; } }
  body .roll-button img {
    transition: 0.3s; }
  body .roll-button:hover img {
    transform: scale(1.1); }

/* Notification shared classes */
#notify-queue {
  z-index: 1800; }

.notify-popup {
  font-family: 'Montserrat'; }
  .notify-popup .body {
    font-family: 'Roboto'; }

/* Footer + Header shared classes*/
#main-footer, #main-header, #main-taskbar {
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  z-index: 1000;
  font-family: 'MedievalSharp'; }
  #main-footer h1,
  #main-footer h2,
  #main-footer h3,
  #main-footer h4,
  #main-footer h5, #main-header h1,
  #main-header h2,
  #main-header h3,
  #main-header h4,
  #main-header h5, #main-taskbar h1,
  #main-taskbar h2,
  #main-taskbar h3,
  #main-taskbar h4,
  #main-taskbar h5 {
    font-family: 'MedievalSharp'; }
  #main-footer .main-footer,
  #main-footer .main-header,
  #main-footer .main-taskbar, #main-header .main-footer,
  #main-header .main-header,
  #main-header .main-taskbar, #main-taskbar .main-footer,
  #main-taskbar .main-header,
  #main-taskbar .main-taskbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    width: 100%;
    height: 100%; }
    #main-footer .main-footer .main-footer__buttons,
    #main-footer .main-footer .main-header__buttons,
    #main-footer .main-footer .main-taskbar__buttons,
    #main-footer .main-header .main-footer__buttons,
    #main-footer .main-header .main-header__buttons,
    #main-footer .main-header .main-taskbar__buttons,
    #main-footer .main-taskbar .main-footer__buttons,
    #main-footer .main-taskbar .main-header__buttons,
    #main-footer .main-taskbar .main-taskbar__buttons, #main-header .main-footer .main-footer__buttons,
    #main-header .main-footer .main-header__buttons,
    #main-header .main-footer .main-taskbar__buttons,
    #main-header .main-header .main-footer__buttons,
    #main-header .main-header .main-header__buttons,
    #main-header .main-header .main-taskbar__buttons,
    #main-header .main-taskbar .main-footer__buttons,
    #main-header .main-taskbar .main-header__buttons,
    #main-header .main-taskbar .main-taskbar__buttons, #main-taskbar .main-footer .main-footer__buttons,
    #main-taskbar .main-footer .main-header__buttons,
    #main-taskbar .main-footer .main-taskbar__buttons,
    #main-taskbar .main-header .main-footer__buttons,
    #main-taskbar .main-header .main-header__buttons,
    #main-taskbar .main-header .main-taskbar__buttons,
    #main-taskbar .main-taskbar .main-footer__buttons,
    #main-taskbar .main-taskbar .main-header__buttons,
    #main-taskbar .main-taskbar .main-taskbar__buttons {
      display: flex;
      justify-content: flex-end;
      height: 100%; }
    #main-footer .main-footer .main-footer__item,
    #main-footer .main-footer .main-header__item,
    #main-footer .main-footer .main-taskbar__item,
    #main-footer .main-header .main-footer__item,
    #main-footer .main-header .main-header__item,
    #main-footer .main-header .main-taskbar__item,
    #main-footer .main-taskbar .main-footer__item,
    #main-footer .main-taskbar .main-header__item,
    #main-footer .main-taskbar .main-taskbar__item, #main-header .main-footer .main-footer__item,
    #main-header .main-footer .main-header__item,
    #main-header .main-footer .main-taskbar__item,
    #main-header .main-header .main-footer__item,
    #main-header .main-header .main-header__item,
    #main-header .main-header .main-taskbar__item,
    #main-header .main-taskbar .main-footer__item,
    #main-header .main-taskbar .main-header__item,
    #main-header .main-taskbar .main-taskbar__item, #main-taskbar .main-footer .main-footer__item,
    #main-taskbar .main-footer .main-header__item,
    #main-taskbar .main-footer .main-taskbar__item,
    #main-taskbar .main-header .main-footer__item,
    #main-taskbar .main-header .main-header__item,
    #main-taskbar .main-header .main-taskbar__item,
    #main-taskbar .main-taskbar .main-footer__item,
    #main-taskbar .main-taskbar .main-header__item,
    #main-taskbar .main-taskbar .main-taskbar__item {
      height: 100%;
      padding: 0 20px;
      transition: 0.2s ease-in-out;
      display: flex;
      align-items: center;
      user-select: none; }
      #main-footer .main-footer .main-footer__item:hover,
      #main-footer .main-footer .main-header__item:hover,
      #main-footer .main-footer .main-taskbar__item:hover,
      #main-footer .main-header .main-footer__item:hover,
      #main-footer .main-header .main-header__item:hover,
      #main-footer .main-header .main-taskbar__item:hover,
      #main-footer .main-taskbar .main-footer__item:hover,
      #main-footer .main-taskbar .main-header__item:hover,
      #main-footer .main-taskbar .main-taskbar__item:hover, #main-header .main-footer .main-footer__item:hover,
      #main-header .main-footer .main-header__item:hover,
      #main-header .main-footer .main-taskbar__item:hover,
      #main-header .main-header .main-footer__item:hover,
      #main-header .main-header .main-header__item:hover,
      #main-header .main-header .main-taskbar__item:hover,
      #main-header .main-taskbar .main-footer__item:hover,
      #main-header .main-taskbar .main-header__item:hover,
      #main-header .main-taskbar .main-taskbar__item:hover, #main-taskbar .main-footer .main-footer__item:hover,
      #main-taskbar .main-footer .main-header__item:hover,
      #main-taskbar .main-footer .main-taskbar__item:hover,
      #main-taskbar .main-header .main-footer__item:hover,
      #main-taskbar .main-header .main-header__item:hover,
      #main-taskbar .main-header .main-taskbar__item:hover,
      #main-taskbar .main-taskbar .main-footer__item:hover,
      #main-taskbar .main-taskbar .main-header__item:hover,
      #main-taskbar .main-taskbar .main-taskbar__item:hover {
        text-shadow: 1px 1px 0 #aaa; }
    #main-footer .main-footer .main-header__item,
    #main-footer .main-footer .main-taskbar__item,
    #main-footer .main-header .main-header__item,
    #main-footer .main-header .main-taskbar__item,
    #main-footer .main-taskbar .main-header__item,
    #main-footer .main-taskbar .main-taskbar__item, #main-header .main-footer .main-header__item,
    #main-header .main-footer .main-taskbar__item,
    #main-header .main-header .main-header__item,
    #main-header .main-header .main-taskbar__item,
    #main-header .main-taskbar .main-header__item,
    #main-header .main-taskbar .main-taskbar__item, #main-taskbar .main-footer .main-header__item,
    #main-taskbar .main-footer .main-taskbar__item,
    #main-taskbar .main-header .main-header__item,
    #main-taskbar .main-header .main-taskbar__item,
    #main-taskbar .main-taskbar .main-header__item,
    #main-taskbar .main-taskbar .main-taskbar__item {
      border-bottom: 3px solid #ddd; }
      #main-footer .main-footer .main-header__item:hover,
      #main-footer .main-footer .main-taskbar__item:hover,
      #main-footer .main-header .main-header__item:hover,
      #main-footer .main-header .main-taskbar__item:hover,
      #main-footer .main-taskbar .main-header__item:hover,
      #main-footer .main-taskbar .main-taskbar__item:hover, #main-header .main-footer .main-header__item:hover,
      #main-header .main-footer .main-taskbar__item:hover,
      #main-header .main-header .main-header__item:hover,
      #main-header .main-header .main-taskbar__item:hover,
      #main-header .main-taskbar .main-header__item:hover,
      #main-header .main-taskbar .main-taskbar__item:hover, #main-taskbar .main-footer .main-header__item:hover,
      #main-taskbar .main-footer .main-taskbar__item:hover,
      #main-taskbar .main-header .main-header__item:hover,
      #main-taskbar .main-header .main-taskbar__item:hover,
      #main-taskbar .main-taskbar .main-header__item:hover,
      #main-taskbar .main-taskbar .main-taskbar__item:hover {
        border-bottom: 5px solid #7777ff;
        color: inherit;
        background-color: #eee; }

/* Header classes */
#main-header {
  z-index: 1000000;
  height: 90px;
  box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.4); }
  #main-header .with-padding {
    padding-bottom: 5px; }
  #main-header .main-header .main-header__logo {
    display: flex;
    justify-content: flex-start;
    height: 100%; }
    #main-header .main-header .main-header__logo:hover .main-header__item {
      text-shadow: 3px 3px 0 #aaa; }

/* Taskbar Classes */
#main-taskbar {
  height: 45px;
  background-color: #e9e9e9; }
  #main-taskbar .main-taskbar .main-taskbar__buttons {
    justify-content: space-between;
    text-align: center;
    width: 100%; }
    #main-taskbar .main-taskbar .main-taskbar__buttons .main-taskbar__item {
      border-bottom-width: 1px; }
      #main-taskbar .main-taskbar .main-taskbar__buttons .main-taskbar__item:hover {
        border-bottom-width: 3px; }
      @media only screen and (max-width: 539.9px) {
        #main-taskbar .main-taskbar .main-taskbar__buttons .main-taskbar__item {
          padding: 0 8px;
          font-size: 0.625em; } }

#not-supported {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 999999;
  overflow: hidden; }
  #not-supported h4 {
    word-wrap: break-word; }
  @media only screen and (max-width: 380px) {
    #not-supported {
      display: block; } }

/* Content container classes */
#main-content {
  position: relative;
  box-shadow: 0 0 30px -20px rgba(0, 0, 0, 0.8);
  font-family: 'Roboto', Tahoma;
  background-color: white;
  max-width: 1480px; }
  @media only screen and (min-width: 1600px) {
    #main-content {
      margin: 0 auto;
      width: 1480px; } }
  @media only screen and (max-width: 1599.9px) {
    #main-content {
      margin: 0 60px; } }
  @media only screen and (max-width: 999.9px) {
    #main-content {
      margin: 0; } }

/* Footer classes */
#main-footer {
  height: 50px;
  background-color: #eee;
  font-family: 'Roboto', Tahoma; }
  #main-footer .main-footer {
    margin: 0;
    font-size: 0.75em; }
    #main-footer .main-footer .main-footer__item {
      border-top: 3px solid #ddd;
      transform: translate(0, -3px);
      overflow-y: hidden; }
      #main-footer .main-footer .main-footer__item:hover {
        transform: translate(0, -5px);
        border-top: 5px solid #7777ff;
        color: inherit;
        background-color: #ddd;
        overflow-y: hidden; }

#join-campaign-page #join-campaign__join-code {
  text-align: center;
  margin-bottom: 20px; }

#dungeon-master-page .banner a {
  font-weight: bold;
  text-decoration: underline; }

#dungeon-master-page .banner h3 {
  margin: 0 0 4px; }

#dungeon-master-page .banner p {
  margin: 0 0 8px 10px; }

#dungeon-master-page .dungeon-master__user {
  cursor: pointer; }

#dungeon-master-page .dungeon-master__info,
#dungeon-master-page .dungeon-master__desc {
  resize: none;
  width: 100%;
  height: 300px; }

@media only screen and (max-width: 799.9px) {
  #dungeon-master-page #dungeon-master__wrapper {
    flex-wrap: wrap; } }

#view-campaign-page .buttons-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  bottom: 10px;
  right: 10px; }
  @media only screen and (max-width: 1599.9px) {
    #view-campaign-page .buttons-container {
      right: 80px; } }
  @media only screen and (max-width: 999.9px) {
    #view-campaign-page .buttons-container {
      right: 20px; } }
  @media only screen and (max-width: 799.9px) {
    #view-campaign-page .buttons-container {
      display: none; } }

#view-campaign-page .mobile-buttons-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px; }
  @media only screen and (max-width: 799.9px) {
    #view-campaign-page .mobile-buttons-container {
      display: flex; } }

#view-campaign-page .banner a {
  font-weight: bold;
  text-decoration: underline; }

#view-campaign-page .banner h3 {
  margin: 0 0 4px; }

#view-campaign-page .banner p {
  margin: 0 0 8px 10px; }

#view-campaign-page .view-campaign__join-code {
  color: #7777ff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.15s;
  text-align: right;
  font-size: 1.2em;
  padding-right: 4px;
  width: 100%;
  margin: 0; }
  #view-campaign-page .view-campaign__join-code:hover {
    text-shadow: 2px 2px 1px black;
    color: white; }

#view-campaign-page .view-campaign__note {
  padding: 8px 14px;
  box-shadow: 0 0 16px -7px rgba(0, 0, 0, 0.7);
  transition: 0.3s;
  margin-bottom: 15px; }
  #view-campaign-page .view-campaign__note.author-note {
    cursor: pointer; }
    #view-campaign-page .view-campaign__note.author-note:hover {
      transform: scale(1.05); }
  #view-campaign-page .view-campaign__note h5 {
    margin: 0; }
  #view-campaign-page .view-campaign__note p {
    font-size: 0.875em; }

#view-campaign-page .view-campaign__info,
#view-campaign-page .view-campaign__desc {
  display: none; }

@media only screen and (max-width: 799.9px) {
  #view-campaign-page #view-campaign__wrapper {
    flex-wrap: wrap; } }

#index-page {
  height: 100%;
  width: 100%; }
  #index-page #home-logo {
    padding: 200px 0;
    background-image: url(/assets/banner.png);
    background-position: center; }
    @media only screen and (max-width: 539.9px) {
      #index-page #home-logo {
        padding: 100px 0; } }
    #index-page #home-logo h1 {
      font-size: 4.375em;
      font-family: 'MedievalSharp';
      font-weight: bold;
      margin: 0px;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      color: white; }
      #index-page #home-logo h1:hover {
        text-shadow: 3px 3px 0 #fff;
        color: #7777ff; }
    #index-page #home-logo hr {
      margin: 0 0 20px 0;
      width: 100px;
      border: none;
      border-top: 1px solid #eeeeee; }
    #index-page #home-logo p {
      font-size: 0.75em;
      color: white;
      background: rgba(0, 0, 0, 0.7);
      letter-spacing: .5px;
      padding: 4px 20px;
      border-radius: 4px; }
  #index-page hr {
    width: 100%;
    border: none;
    margin-top: 0;
    border-top: 1px solid #eeeeee; }
  #index-page .column-container {
    align-items: center; }

#add-character-page .add-character__character {
  width: 290px;
  user-select: none;
  margin: 15px; }
  #add-character-page .add-character__character .banner {
    min-height: 400px; }
  #add-character-page .add-character__character h5 {
    margin: 0 0 2px;
    user-select: none; }
  #add-character-page .add-character__character p {
    font-size: 0.9em;
    margin: 0 0 4px 10px;
    user-select: none; }

#add-character-page .add-character__character-anchor {
  cursor: pointer; }
  #add-character-page .add-character__character-anchor .banner {
    transition: 0.3s; }
  #add-character-page .add-character__character-anchor:hover {
    color: inherit; }
    #add-character-page .add-character__character-anchor:hover .banner {
      transform: scale(1.05); }

#character-dash-page .character-dash__character {
  width: 290px;
  user-select: none;
  margin: 15px; }
  #character-dash-page .character-dash__character .banner {
    min-height: 400px; }
  #character-dash-page .character-dash__character h5 {
    margin: 0 0 2px;
    user-select: none; }
  #character-dash-page .character-dash__character p {
    font-size: 0.9em;
    margin: 0 0 4px 10px;
    user-select: none; }

#character-dash-page .character-dash__character-anchor {
  cursor: pointer; }
  #character-dash-page .character-dash__character-anchor .banner {
    transition: 0.3s; }
  #character-dash-page .character-dash__character-anchor:hover {
    color: inherit; }
    #character-dash-page .character-dash__character-anchor:hover .banner {
      transform: scale(1.05); }

#user-dash-page .user-dash__campaign {
  width: 290px;
  user-select: none;
  margin: 15px; }
  #user-dash-page .user-dash__campaign .banner {
    min-height: 400px; }
  #user-dash-page .user-dash__campaign h5 {
    margin: 0 0 2px;
    user-select: none; }
  #user-dash-page .user-dash__campaign p {
    font-size: 0.9em;
    margin: 0 0 4px 10px;
    user-select: none; }

#user-dash-page .user-dash__campaign-anchor {
  cursor: pointer; }
  #user-dash-page .user-dash__campaign-anchor .banner {
    transition: 0.3s; }
  #user-dash-page .user-dash__campaign-anchor:hover {
    color: inherit; }
    #user-dash-page .user-dash__campaign-anchor:hover .banner {
      transform: scale(1.05); }

#view-character-page {
  width: 100%;
  height: 100%; }
  #view-character-page h4,
  #view-character-page h5 {
    margin: 0; }
  #view-character-page .buttons-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 10px;
    right: 10px; }
    @media only screen and (max-width: 1599.9px) {
      #view-character-page .buttons-container {
        right: 80px; } }
    @media only screen and (max-width: 999.9px) {
      #view-character-page .buttons-container {
        right: 20px; } }
    @media only screen and (max-width: 799.9px) {
      #view-character-page .buttons-container {
        display: none; } }
  #view-character-page .mobile-buttons-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px; }
    @media only screen and (max-width: 799.9px) {
      #view-character-page .mobile-buttons-container {
        display: flex; } }
  #view-character-page .column-container {
    justify-content: center; }
  #view-character-page .column {
    width: 100%;
    max-width: 450px; }
  #view-character-page .banner-content {
    margin-top: 6px;
    padding: 10px 30px;
    text-align: left; }
    #view-character-page .banner-content p,
    #view-character-page .banner-content select,
    #view-character-page .banner-content textarea,
    #view-character-page .banner-content input {
      width: 100%; }
    #view-character-page .banner-content textarea {
      resize: none;
      margin-right: -4px;
      height: 100px; }

#create-character-page {
  width: 100%;
  height: 100%; }
  #create-character-page h4,
  #create-character-page h5 {
    margin: 0; }
  @media only screen and (max-width: 799.9px) {
    #create-character-page #character-summary {
      display: none; } }
  #create-character-page #character-summary hr {
    border: none;
    border-top: 1px solid #bbb;
    margin: 4px 0 10px; }
  #create-character-page #character-summary .character-summary__profile-img {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    cursor: pointer;
    transition: 0.3s ease-out;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6); }
    #create-character-page #character-summary .character-summary__profile-img:hover {
      transform: translateY(-4px);
      box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.5); }
  #create-character-page #character-summary .character-summary__profile-img-browse {
    display: none; }
  #create-character-page #character-summary .character-summary__line-item {
    padding-left: 20px; }
  #create-character-page #character-summary #character-summary__quick-links {
    list-style-type: none;
    padding-inline-start: 10px;
    margin-block-start: 0;
    margin-block-end: 0; }
  #create-character-page .buttons-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 10px;
    right: 10px; }
    @media only screen and (max-width: 1599.9px) {
      #create-character-page .buttons-container {
        right: 80px; } }
    @media only screen and (max-width: 999.9px) {
      #create-character-page .buttons-container {
        right: 20px; } }
    @media only screen and (max-width: 799.9px) {
      #create-character-page .buttons-container {
        display: none; } }
  #create-character-page .mobile-buttons-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px; }
    @media only screen and (max-width: 799.9px) {
      #create-character-page .mobile-buttons-container {
        display: flex; } }
  #create-character-page .create-character__section {
    margin: 20px 0;
    min-height: unset;
    user-select: none;
    transition: 0.3s; }
    #create-character-page .create-character__section.open .create-character__section-title .dropdown-arrow {
      transform: rotate(-90deg); }
    #create-character-page .create-character__section .create-character__section-title {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #create-character-page .create-character__section .create-character__section-title .dropdown-arrow {
        height: 20px;
        width: 20px;
        padding: 5px;
        transform: rotate(90deg);
        border-radius: 50%;
        transition: 0.3s ease-in-out; }
    #create-character-page .create-character__section .create-character__section-content {
      margin-top: 6px;
      padding: 0 10px;
      display: none;
      text-align: left; }
      #create-character-page .create-character__section .create-character__section-content p,
      #create-character-page .create-character__section .create-character__section-content select,
      #create-character-page .create-character__section .create-character__section-content textarea,
      #create-character-page .create-character__section .create-character__section-content input {
        width: 100%; }
      #create-character-page .create-character__section .create-character__section-content textarea {
        resize: none;
        margin-right: -4px;
        height: 100px; }
    #create-character-page .create-character__section .banner-content {
      padding: 10px 30px; }

#campaign-note-page .campaign-note__contents {
  width: 100%;
  min-height: 500px;
  resize: none; }

@media only screen and (max-width: 799.9px) {
  #campaign-note-page #campaign-note__wrapper {
    flex-wrap: wrap; } }

#campaign-note-page .campaign-note__recipient-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-size: 0.875em;
  text-align: center; }
  #campaign-note-page .campaign-note__recipient-list .instructions {
    text-align: center;
    margin-bottom: 30px; }

#campaign-note-page a {
  cursor: pointer; }

#campaign-note-page .instructions {
  font-size: 0.75em;
  font-style: italic; }

#campaign-note-page .buttons-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  bottom: 10px;
  right: 10px; }
  @media only screen and (max-width: 1599.9px) {
    #campaign-note-page .buttons-container {
      right: 80px; } }
  @media only screen and (max-width: 999.9px) {
    #campaign-note-page .buttons-container {
      right: 20px; } }
  @media only screen and (max-width: 799.9px) {
    #campaign-note-page .buttons-container {
      display: none; } }

#campaign-note-page .mobile-buttons-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px; }
  @media only screen and (max-width: 799.9px) {
    #campaign-note-page .mobile-buttons-container {
      display: flex; } }
