$color_background: #fff;
$color_accent: #7777ff;
$color_darker_accent: #39397c;
$color_home_desc: #999;
$color_banner: #ACC1F6;
$color_second_banner: #f6e1ac;
$color_border: #eeeeee;
$font_base_size: 16px;

@function strip-units($value) {
    @return ($value / ($value * 0 + 1));
}

@function em($px) {
    @if not unitless($px) {
        $px: strip-units($px);
    }

    @return ($px / strip-units($font_base_size)) * 1em;
}

@function scalefont($px, $factor) {
    @if not unitless($px) {
        $px: strip-units($px);
    }

    @return #{$px * $factor}px;
}

/*=============================================
=             Screen Size Mixins              =
=============================================*/

@mixin for-custom-down($custom) {
    @if unitless($custom) {
        $custom: #{$custom}px;
    }

    @media only screen and (max-width: $custom) {
        @content;
    }
}

@mixin for-custom-up($custom) {
    @if unitless($custom) {
        $custom: #{$custom}px;
    }

    @media only screen and (min-width: $custom) {
        @content;
    }
}


@mixin for-phone-only {
    @media only screen and (max-width: 539.9px) {
        @content;
    }
}

@mixin for-small-tablet-up {
    @media only screen and (min-width: 540px) {
        @content;
    }
}

@mixin for-small-tablet-down {
    @media only screen and (max-width: 799.9px) {
        @content;
    }
}

@mixin for-large-tablet-up {
    @media only screen and (min-width: 800px) {
        @content;
    }
}

@mixin for-large-tablet-down {
    @media only screen and (max-width: 999.9px) {
        @content;
    }
}

@mixin for-laptop-up {
    @media only screen and (min-width: 1000px) {
        @content;
    }
}

@mixin for-laptop-down {
    @media only screen and (max-width: 1439.9px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media only screen and (min-width: 1440px) {
        @content;
    }
}

@mixin for-desktop-down {
    @media only screen and (max-width: 1920px) {
        @content;
    }
}

@mixin for-ultrawide-only {
    @media only screen and (min-width: 1920.1px) {
        @content;
    }
}
/*=============================================
=                   End Mixins                =
=============================================*/

/* Base container */
html, body {
    width: 100%;
    top: 0;
    left: 0;
    font-family: 'Montserrat', Arial;
    font-size: $font_base_size;
    margin: 0;

    @include for-small-tablet-down {
        font-size: scalefont($font_base_size, 0.8);
    }
}

/* Shared classes */
body {
    display: flex;
    flex-direction: column;
    background-image: url("/assets/cubes.svg");

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .full-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .force-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .full-width {
        width: 100%;
        left: 0;
    }

    .page-width-padding {
        padding: 0 40px;
    }

    .border-bottom {
        border-bottom: 1px solid $color_border;
    }

    .border-top {
        border-top: 1px solid $color_border;
    }

    a {
        text-decoration: none;
        color: inherit;
        transition: 0.2s ease-in-out;

        &:hover {
            color: $color_accent;
        }
    }

    textarea {
        border: none;
        transition: 0.3s;
        outline-color: rgba(0,0,0,0.0); // Allows transitioning on opacity
        &:focus {
            outline-color: $color_accent;
        }

        &[readonly] {
            background-color: $color_border;
            cursor: default;

            &:focus {
                outline-color: inherit;
            }
        }
    }

    select,
    input {
        font-size: em(16px);
        padding: 4px 10px;
        border: none;
        transition: 0.3s;
        outline-color: rgba(0,0,0,0.0); // Allows transitioning on opacity
        &:focus {
            outline-color: $color_accent;
        }

        &[readonly] {
            background-color: $color_border;
            cursor: default;

            &:focus {
                outline-color: inherit;
            }
        }
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    span {
        &.underline {
            text-decoration: underline;
        }
    }

    button {
        margin: 2px 6px 4px;
        padding: 10px 20px;
        font-family: Montserrat, Arial;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: black;
        color: white;
        font-weight: bold;
        border-radius: 4px;
        border: none;
        transition: 0.2s ease-out, 0.05s transform;
        cursor: pointer;
        user-select: none;

        &.thick { /* Had to settle on this because "slim t h i c c" gave me CSS pre-processor errors. */
            padding-top: 20px;
            padding-bottom: 20px;
        }

        &.full-width {
            width: 100%;
        }

        &.medium { /* Buttons are "small" by default. */
            padding-left: 40px;
            padding-right: 40px;
        }

        &.large {
            padding-left: 40px;
            padding-right: 40px;
        }

        &:hover {
            background-color: $color_accent;
        }

        &:active {
            background-color: $color_darker_accent;
            transform: translate(0, 2px);
        }

        &:active, &:focus {
            outline: none;
        }

        &[disabled] {
            cursor: not-allowed;
            background-color: #888;

            &:hover {
                background-color: #888;
            }
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Montserrat', Arial;
    }

    .banner {
        background-color: $color_banner;
        min-height: 200px;
        border-radius: 10px;
        box-shadow: 0 4px 8px -3px rgba(0,0,0,0.7);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        width: 100%;
        max-height: 100%;

        &.full-height {
            height: 100%;
        }

        &.with-side-margins {
            margin-left: 20px;
            margin-right: 20px;
        }

        &.with-top-bot-margins {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        &.wide {
            max-width: 800px;

            .banner-content {
                max-width: 650px;
            }
        }

        &.left {
            justify-content: left;
            align-items: initial;
        }

        .banner-content {
            margin: 0;
            padding: 30px;
            line-height: 24px;
            height: 100%;
            font-size: em(16);

            &.full-width {
                max-width: none;
                width: 100%;
            }

            &.full-center {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: unset;

                p {
                    width: 100%;
                }
            }

            .banner-row {
            }
        }

        &:nth-of-type(2n),
        &.second {
            background-color: $color_second_banner;
        }
    }

    .column-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        padding: 30px 0;

        &.center {
            align-items: center;
        }

        &.no-gutters {
            padding: 0;
        }

        &.full-height {
            height: 100%;
            padding: 0;
        }

        .column {
            width: 100%;
            margin: 0 30px;

            &.full-center {
                align-items: center;
                justify-content: center;
            }

            &.full-height {
                height: 100%;
            }

            &.no-gutters {
                margin: 0;
            }
        }
    }

    .hide-on-phones {
        @include for-phone-only {
            display: none;
        }
    }

    .roll-button {
        img {
            transition: 0.3s;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}

/* Notification shared classes */
#notify-queue {
    z-index: 1800;
}

.notify-popup {
    font-family: 'Montserrat';

    .body {
        font-family: 'Roboto';
    }
}

/* Footer + Header shared classes*/
#main-footer, #main-header, #main-taskbar {
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 1000;
    font-family: 'MedievalSharp';

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: 'MedievalSharp';
    }

    .main-footer,
    .main-header,
    .main-taskbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        left: 0;
        width: 100%;
        height: 100%;

        .main-footer__buttons,
        .main-header__buttons,
        .main-taskbar__buttons {
            display: flex;
            justify-content: flex-end;
            height: 100%;
        }

        .main-footer__item,
        .main-header__item,
        .main-taskbar__item {
            height: 100%;
            padding: 0 20px;
            transition: 0.2s ease-in-out;
            display: flex;
            align-items: center;
            user-select: none;

            &:hover {
                text-shadow: 1px 1px 0 #aaa;
            }
        }

        .main-header__item,
        .main-taskbar__item {
            border-bottom: 3px solid #ddd;

            &:hover {
                border-bottom: 5px solid $color_accent;
                color: inherit;
                background-color: #eee;
            }
        }
    }
}

/* Header classes */
#main-header {
    z-index: 1000000;
    height: 90px;
    box-shadow: 0 0 16px -4px rgba(0,0,0,0.4);

    .with-padding {
        padding-bottom: 5px;
    }

    .main-header {
        .main-header__logo {
            display: flex;
            justify-content: flex-start;
            height: 100%;

            &:hover {
                .main-header__item {
                    text-shadow: 3px 3px 0 #aaa;
                }
            }
        }
    }
}

/* Taskbar Classes */
#main-taskbar {
    height: 45px;
    background-color: #e9e9e9;

    .main-taskbar {
        .main-taskbar__buttons {
            justify-content: space-between;
            text-align: center;
            width: 100%;

            .main-taskbar__item {
                border-bottom-width: 1px;

                &:hover {
                    border-bottom-width: 3px;
                }

                @include for-phone-only {
                    padding: 0 8px;
                    font-size: em(10);
                }
            }
        }
    }
}

#not-supported {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 999999;
    overflow: hidden;

    h4 {
        word-wrap: break-word;
    }

    @include for-custom-down(380px) {
        display: block;
    }
}

/* Content container classes */
#main-content {
    position: relative;
    box-shadow: 0 0 30px -20px rgba(0,0,0,0.8);
    font-family: 'Roboto', Tahoma;
    background-color: white;
    max-width: 1480px;

    @include for-custom-up(1600px) {
        margin: 0 auto;
        width: 1480px;
    }

    @include for-custom-down(1599.9px) {
        margin: 0 60px;
    }

    @include for-large-tablet-down {
        margin: 0;
    }
}

/* Footer classes */
#main-footer {
    height: 50px;
    background-color: #eee;
    font-family: 'Roboto', Tahoma;

    .main-footer {
        margin: 0;
        font-size: em(12);

        .main-footer__item {
            border-top: 3px solid #ddd;
            transform: translate(0, -3px);
            overflow-y: hidden;

            &:hover {
                transform: translate(0, -5px);
                border-top: 5px solid $color_accent;
                color: inherit;
                background-color: #ddd;
                overflow-y: hidden;
            }
        }
    }
}

#join-campaign-page {
    #join-campaign__join-code {
        text-align: center;
        margin-bottom: 20px;
    }
}

#dungeon-master-page {
    .banner {
        a {
            font-weight: bold;
            text-decoration: underline;
        }

        h3 {
            margin: 0 0 4px;
        }

        p {
            margin: 0 0 8px 10px;
        }
    }

    .dungeon-master__user {
        cursor: pointer;
    }

    .dungeon-master__info,
    .dungeon-master__desc {
        resize: none;
        width: 100%;
        height: 300px;
    }

    #dungeon-master__wrapper {
        @include for-small-tablet-down {
            flex-wrap: wrap;
        }
    }
}

#view-campaign-page {
    .buttons-container {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        bottom: 10px;
        right: 10px;

        @include for-custom-down(1599.9px) {
            right: 80px;
        }

        @include for-large-tablet-down {
            right: 20px;
        }

        @include for-small-tablet-down {
            display: none;
        }
    }

    .mobile-buttons-container {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        @include for-small-tablet-down {
            display: flex;
        }
    }

    .banner {
        a {
            font-weight: bold;
            text-decoration: underline;
        }

        h3 {
            margin: 0 0 4px;
        }

        p {
            margin: 0 10px 8px 10px;
        }
    }

    .view-campaign__join-code {
        color: $color_accent;
        font-weight: bold;
        cursor: pointer;
        transition: 0.15s;
        text-align: right;
        font-size: 1.2em;
        padding-right: 4px;
        width: 100%;
        margin: 0;

        &:hover {
            text-shadow: 2px 2px 1px black;
            color: white;
        }
    }

    .view-campaign__note {
        padding: 8px 14px;
        box-shadow: 0 0 16px -7px rgba(0,0,0,0.7);
        transition: 0.3s;
        margin-bottom: 15px;

        &.author-note {
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
            }
        }

        h5 {
            margin: 0;
        }

        p {
            font-size: em(14);
        }
    }

    .view-campaign__info,
    .view-campaign__desc {
        display: none;
        word-break: break-word; 
        white-space: normal;
    }

    #view-campaign__wrapper {
        @include for-small-tablet-down {
            flex-wrap: wrap;
        }
    }
}

#index-page {
    height: 100%;
    width: 100%;

    #home-logo {
        padding: 200px 0;
        background-image: url(/assets/banner.png);
        background-position: center;

        @include for-phone-only {
            padding: 100px 0;
        }

        h1 {
            font-size: em(70);
            font-family: 'MedievalSharp';
            font-weight: bold;
            margin: 0px;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            color: white;

            &:hover {
                text-shadow: 3px 3px 0 #fff;
                color: $color_accent;
            }
        }

        hr {
            margin: 0 0 20px 0;
            width: 100px;
            border: none;
            border-top: 1px solid $color_border;
        }

        p {
            font-size: em(12);
            color: white;
            background: rgba(0,0,0,0.7);
            letter-spacing: .5px;
            padding: 4px 20px;
            border-radius: 4px;
        }
    }

    hr {
        width: 100%;
        border: none;
        margin-top: 0;
        border-top: 1px solid $color_border;
    }

    .column-container {
        align-items: center;
    }
}

#add-character-page {
    .add-character__character {
        width: 290px;
        user-select: none;
        margin: 15px;

        .banner {
            min-height: 400px;
        }

        h5 {
            margin: 0 0 2px;
            user-select: none;
        }

        p {
            font-size: 0.9em;
            margin: 0 0 4px 10px;
            user-select: none;
        }
    }

    .add-character__character-anchor {
        cursor: pointer;

        .banner {
            transition: 0.3s;
        }

        &:hover {
            color: inherit;

            .banner {
                transform: scale(1.05);
            }
        }
    }
}

#character-dash-page {
    .character-dash__character {
        width: 290px;
        user-select: none;
        margin: 15px;

        .banner {
            min-height: 400px;
        }

        h5 {
            margin: 0 0 2px;
            user-select: none;
        }

        p {
            font-size: 0.9em;
            margin: 0 0 4px 10px;
            user-select: none;
        }
    }

    .character-dash__character-anchor {
        cursor: pointer;

        .banner {
            transition: 0.3s;
        }

        &:hover {
            color: inherit;

            .banner {
                transform: scale(1.05);
            }
        }
    }
}

#user-dash-page {
    .user-dash__campaign {
        width: 290px;
        user-select: none;
        margin: 15px;

        .banner {
            min-height: 400px;
        }

        h5 {
            margin: 0 0 2px;
            user-select: none;
        }

        p {
            font-size: 0.9em;
            margin: 0 0 4px 10px;
            user-select: none;
        }
    }

    .user-dash__campaign-anchor {
        cursor: pointer;

        .banner {
            transition: 0.3s;
        }

        &:hover {
            color: inherit;

            .banner {
                transform: scale(1.05);
            }
        }
    }
}

#view-character-page {
    //background-color: $color_second_banner;
    width: 100%;
    height: 100%;

    h4,
    h5 {
        margin: 0;
    }

    .buttons-container {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        bottom: 10px;
        right: 10px;

        @include for-custom-down(1599.9px) {
            right: 80px;
        }

        @include for-large-tablet-down {
            right: 20px;
        }

        @include for-small-tablet-down {
            display: none;
        }
    }

    .mobile-buttons-container {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        @include for-small-tablet-down {
            display: flex;
        }
    }

    .column-container {
        justify-content: center;
    }

    .column {
        width: 100%;
        max-width: 450px;
    }

    .banner-content {
        margin-top: 6px;
        padding: 10px 30px;
        text-align: left;

        p,
        select,
        textarea,
        input {
            width: 100%;
        }

        textarea {
            resize: none;
            margin-right: -4px;
            height: 100px;
        }
    }
}

#create-character-page {
    //background-color: $color_second_banner;
    width: 100%;
    height: 100%;

    h4,
    h5 {
        margin: 0;
    }

    #character-summary {
        @include for-small-tablet-down {
            display: none;
        }

        hr {
            border: none;
            border-top: 1px solid #bbb;
            margin: 4px 0 10px;
        }

        .character-summary__profile-img {
            border-radius: 50%;
            width: 128px;
            height: 128px;
            cursor: pointer;
            transition: 0.3s ease-out;
            box-shadow: 0 0 4px rgba(0,0,0,0.6);

            &:hover {
                transform: translateY(-4px);
                box-shadow: 0 4px 6px 2px rgba(0,0,0,0.5);
            }
        }

        .character-summary__profile-img-browse {
            display: none;
        }

        .character-summary__line-item {
            padding-left: 20px;
        }

        #character-summary__quick-links {
            list-style-type: none;
            padding-inline-start: 10px;
            margin-block-start: 0;
            margin-block-end: 0;
        }
    }

    .buttons-container {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        bottom: 10px;
        right: 10px;

        @include for-custom-down(1599.9px) {
            right: 80px;
        }

        @include for-large-tablet-down {
            right: 20px;
        }

        @include for-small-tablet-down {
            display: none;
        }
    }

    .mobile-buttons-container {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        @include for-small-tablet-down {
            display: flex;
        }
    }

    .create-character__section {
        margin: 20px 0;
        min-height: unset;
        user-select: none;
        transition: 0.3s;

        &.open {
            .create-character__section-title {
                .dropdown-arrow {
                    transform: rotate(-90deg);
                }
            }
        }

        .create-character__section-title {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .dropdown-arrow {
                height: 20px;
                width: 20px;
                padding: 5px;
                transform: rotate(90deg);
                border-radius: 50%;
                transition: 0.3s ease-in-out;
            }
        }

        .create-character__section-content {
            margin-top: 6px;
            padding: 0 10px;
            display: none;
            text-align: left;

            p,
            select,
            textarea,
            input {
                width: 100%;
            }

            textarea {
                resize: none;
                margin-right: -4px;
                height: 100px;
            }
        }

        .banner-content {
            padding: 10px 30px;
        }
    }
}

#campaign-note-page {
    .campaign-note__contents {
        width: 100%;
        min-height: 500px;
        resize: none;
    }

    #campaign-note__wrapper {
        @include for-small-tablet-down {
            flex-wrap: wrap;
        }
    }

    .campaign-note__recipient-list {
        .instructions {
            text-align: center;
            margin-bottom: 30px;
        }

        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        font-size: em(14);
        text-align: center;
    }

    a {
        cursor: pointer;
    }

    .instructions {
        font-size: em(12);
        font-style: italic;
    }

    .buttons-container {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        bottom: 10px;
        right: 10px;

        @include for-custom-down(1599.9px) {
            right: 80px;
        }

        @include for-large-tablet-down {
            right: 20px;
        }

        @include for-small-tablet-down {
            display: none;
        }
    }

    .mobile-buttons-container {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        @include for-small-tablet-down {
            display: flex;
        }
    }
}