$color_background: #f6e1ac;
$color_accent: #7777ff;
$color_darker_accent: #39397c;

/* Base container */
html, body {
    width: 100%;
    top: 0;
    left: 0;
    font-family: 'Montserrat', Arial;
    font-size: 16px;
    margin: 0;
}

/* Shared classes */
body {
    display: flex;
    flex-direction: column;

    .text-center {
        text-align: center;
    }

    .full-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .full-width {
        width: 100%;
        left: 0;
    }

    .page-padding {
        padding: 0 40px;
    }

    .page-margin {
        margin: 0 80px;
    }

    .border-bottom {
        border-bottom: 1px solid #eee;
    }

    .border-top {
        border-top: 1px solid #eee;
    }

    a {
        text-decoration: none;
        color: inherit;
        transition: 0.2s ease-in-out;
    }

    a:hover {
        color: $color_accent;
    }

    button {
        margin: 10px 20px;
        padding: 10px 20px;
        font-family: Montserrat, Arial;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: black;
        color: white;
        font-weight: bold;
        border-radius: 4px;
        border: none;
        transition: 0.2s ease-out, 0.05s transform;
        cursor: pointer;
    }

    button.thick { /* Had to settle on this because "slim t h i c c" gave me CSS pre-processor errors. */
        padding-top: 20px;
        padding-bottom: 20px;
    }

    button.medium { /* Buttons are "small" by default. */
        padding-left: 40px;
        padding-right: 40px;
    }

    button.large {
        padding-left: 40px;
        padding-right: 40px;
    }

    button:hover {
        background-color: $color_accent;
    }

    button:active {
        background-color: $color_darker_accent;
        transform: translate(0, 2px);
    }

    button:active, button:focus {
        outline: none;
    }
}

/* Footer + Header shared classes*/
#main-footer, #main-header {
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 1000;

    .main-footer,
    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        left: 0;
        width: 100%;
        height: 100%;

        .main-footer__buttons,
        .main-header__buttons {
            display: flex;
            justify-content: flex-end;
            height: 100%;
        }

        .main-footer__item,
        .main-header__item {
            height: 100%;
            padding: 0 20px;
            transition: 0.2s ease-in-out;
            display: flex;
            align-items: center;
        }
    }
}

/* Header classes */
#main-header {
    height: 90px;

    .main-header {
        .main-header__logo {
            display: flex;
            justify-content: flex-start;
            height: 100%;

            &:hover {
                .main-header__item {
                text-shadow: 3px 3px 0 #aaa;
                }
            }
        }

        .main-header__item {
            border-bottom: 3px solid #ddd;

            &:hover {
                border-bottom: 5px solid $color_accent;
                color: inherit;
                background-color: #eee;
            }
        }
    }
}

/* Content container classes */
#main-content {
    background-color: $color_background;
    position: relative;
    box-shadow: 0 0 30px -20px rgba(0,0,0,0.8);
    font-family: 'Roboto', Tahoma;
}

/* Footer classes */
#main-footer {
    height: 50px;
    background-color: #eee;
    font-family: 'Roboto', Tahoma;

    .main-footer {
        margin: 0;
        font-size: 12px;

        .main-footer__item {
            border-top: 3px solid #ddd;
            transform: translate(0, -3px);
            overflow-y: hidden;

            &:hover {
                transform: translate(0, -5px);
                border-top: 5px solid $color_accent;
                color: inherit;
                background-color: #ddd;
                overflow-y: hidden;
            }
        }
    }
}

