$color_background: #fff;
$color_accent: #7777ff;
$color_darker_accent: #39397c;
$color_home_desc: #999;
$color_banner: #ACC1F6;
$color_second_banner: #f6e1ac;
$color_border: #eeeeee;
$font_base_size: 16px;

@function strip-units($value) {
    @return ($value / ($value * 0 + 1));
}

@function em($px) {
    @if not unitless($px) {
        $pxval: strip-units($px);
    }
    @return ($px / strip-units($font_base_size)) * 1em;
}

/*=============================================
=             Screen Size Mixins              =
=============================================*/

@mixin for-laptop-down {
    @media only screen and (max-width: 1439.9px) {
        @content;
    }
}
/*=============================================
=                   End Mixins                =
=============================================*/

/* Base container */
html, body {
    width: 100%;
    top: 0;
    left: 0;
    font-family: 'Montserrat', Arial;
    font-size: $font_base_size;
    margin: 0;
}

/* Shared classes */
body {
    display: flex;
    flex-direction: column;
    background-image: url("/assets/cubes.svg");

    .text-center {
        text-align: center;
    }

    .full-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .full-width {
        width: 100%;
        left: 0;
    }

    .page-width-padding {
        padding: 0 40px;
    }

    .border-bottom {
        border-bottom: 1px solid $color_border;
    }

    .border-top {
        border-top: 1px solid $color_border;
    }

    a {
        text-decoration: none;
        color: inherit;
        transition: 0.2s ease-in-out;
    }

    a:hover {
        color: $color_accent;
    }

    button {
        margin: 10px 20px;
        padding: 10px 20px;
        font-family: Montserrat, Arial;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: black;
        color: white;
        font-weight: bold;
        border-radius: 4px;
        border: none;
        transition: 0.2s ease-out, 0.05s transform;
        cursor: pointer;

        &.thick { /* Had to settle on this because "slim t h i c c" gave me CSS pre-processor errors. */
            padding-top: 20px;
            padding-bottom: 20px;
        }

        &.medium { /* Buttons are "small" by default. */
            padding-left: 40px;
            padding-right: 40px;
        }

        &.large {
            padding-left: 40px;
            padding-right: 40px;
        }

        &:hover {
            background-color: $color_accent;
        }

        &:active {
            background-color: $color_darker_accent;
            transform: translate(0, 2px);
        }

        &:active, &:focus {
            outline: none;
        }
    }

    .banner {
        background-color: $color_banner;
        min-height: 200px;
        max-width: 600px;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 4px 8px -3px rgba(0,0,0,0.7);

        .banner-content {
            margin: 0;
            padding: 30px;
            line-height: 24px;
            width: 100%;
            max-width: 500px;
            font-size: em(16);
        }

        &.second {
            background-color: $color_second_banner;
        }
    }

    .column-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 30px 0;

        &.no-gutters {
            padding: 0;
        }

        .column {
            width: 100%;
            padding: 0 30px;

            &.no-gutters {
                padding: 0;
            }
        }
    }
}

/* Footer + Header shared classes*/
#main-footer, #main-header {
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 1000;

    .main-footer,
    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        left: 0;
        width: 100%;
        height: 100%;

        .main-footer__buttons,
        .main-header__buttons {
            display: flex;
            justify-content: flex-end;
            height: 100%;
        }

        .main-footer__item,
        .main-header__item {
            height: 100%;
            padding: 0 20px;
            transition: 0.2s ease-in-out;
            display: flex;
            align-items: center;
            user-select: none;
        }
    }
}

/* Header classes */
#main-header {
    height: 90px;

    .main-header {
        .main-header__logo {
            display: flex;
            justify-content: flex-start;
            height: 100%;
            font-family: 'MedievalSharp';

            &:hover {
                .main-header__item {
                    text-shadow: 3px 3px 0 #aaa;
                }
            }
        }

        .main-header__item {
            border-bottom: 3px solid #ddd;

            &:hover {
                border-bottom: 5px solid $color_accent;
                color: inherit;
                background-color: #eee;
            }
        }
    }
}

/* Content container classes */
#main-content {
    position: relative;
    box-shadow: 0 0 30px -20px rgba(0,0,0,0.8);
    font-family: 'Roboto', Tahoma;
    background-color: white;
    max-width: 1320px;
    /* If the screen size is >= 1440px... */
    left: 50%;
    transform: translateX(-50%);
    /* Else... */
    @include for-laptop-down {
        left: unset;
        transform: none;
        margin: 0 60px;
    }
}

/* Footer classes */
#main-footer {
    height: 50px;
    background-color: #eee;
    font-family: 'Roboto', Tahoma;

    .main-footer {
        margin: 0;
        font-size: em(12);

        .main-footer__item {
            border-top: 3px solid #ddd;
            transform: translate(0, -3px);
            overflow-y: hidden;

            &:hover {
                transform: translate(0, -5px);
                border-top: 5px solid $color_accent;
                color: inherit;
                background-color: #ddd;
                overflow-y: hidden;
            }
        }
    }
}

#index-page {
    #home-logo {
        margin: 100px 0;

        h1 {
            font-size: em(70);
            font-family: 'MedievalSharp';
            font-weight: bold;
            margin-bottom: 0px;
            cursor: pointer;
            transition: 0.2s ease-in-out;

            &:hover {
                text-shadow: 3px 3px 0 #aaa;
                color: black;
            }
        }

        hr {
            margin: 0 0 20px 0;
            width: 100px;
            border: 1px solid $color_home_desc;
        }

        p {
            font-size: em(12);
            color: $color_home_desc;
            letter-spacing: 0.5px;
        }
    }

    hr {
        border: 1px solid $color_border;
        margin: 20px 40px;
    }
}