@{
    ViewData["Title"] = "Login";
    var session = Singleton.Get<SessionService>();
}

@section Head
{
    <link rel="stylesheet" href="~/css/login.css?@(new Random().Next())" />
}

<div id="login-page" class="full-center">
    <img id="profile-img" />
    @await Html.PartialAsync("~/Views/Shared/Snippets/_GoogleSignIn.cshtml")
    @await Html.PartialAsync("~/Views/Shared/Snippets/_GoogleSignOut.cshtml")
    <div id="callback-message" class="text-center"></div>
</div>

@section Scripts
{
    <script>
        var signInRedirectHandle;

        // user has:
        // fullName, firstName, lastName, imageUrl, email, token
        // loginCallback is an expected function for the _GoogleSignIn partial when a sign-in is successful.
        function loginCallback(user) {
            // Only attempt to authenticate if we're not logged in on our current session.
            if ('@session.Get("UserGuid", "", HttpContextAccessor)' === '') {
                network.post('/Login/Auth', user, json => { // Wait for an AuthCallback event from the server.
                    var callbackText = $('#callback-message');
                    callbackText.text(json.message);
                    switch (json.response) {
                    case "ok":
                        console.log(json.message);
                        callbackText.css('color', '#777');
                        callbackText.append('<br/>Redirecting in 2 seconds...');
                        signInRedirectHandle = setTimeout(() => window.location.href = '/UserDash', 2000); //Redirect to the user dashboard
                        break;
                    case "err":
                        console.error(json.message);
                        callbackText.css('color', '#D40E0E');
                        break;
                    }
                    callbackText.slideDown('slow');
                });
                $('#profile-img').attr('src', user.ImageUrl);
            }

            $('#sign-in').hide();
            $('#sign-out').show();
        }

        // logout is an expected function for the _GoogleSignOut partial when a sign-out is successful.
        function logoutCallback() {
            if (signInRedirectHandle) {
                clearTimeout(signInRedirectHandle);
                signInRedirectHandle = null;
            }
            network.post('/Login/SignOut', '', () => {
                var callbackText = $('#callback-message');
                callbackText.text('Signed out.');
                callbackText.css('color', '#777');
                callbackText.slideDown('slow');
                $('#profile-img').attr('src', '');
                $('#sign-in').show();
                $('#sign-out').hide();
            });
        }
        
        // If we're still logged in on our current session
        if ('@session.Get("UserGuid", "", HttpContextAccessor)' !== '') {
            $('#profile-img').attr('src', '@session.Get("UserImageUrl", "", HttpContextAccessor)');
            $('#sign-in').hide();
            $('#sign-out').show();
        }
    </script>
}