
@{
    ViewData["Title"] = "Login";
}

<div id="login-page" class="full-center">
    <span class="text-center">
        <p>Now hold on, this ain't implemented!</p>
        <p>🤯</p>
    </span>
</div>