@{
    ViewData["Title"] = "Create a Campaign";
}

@section Head
{
    <link rel="stylesheet" href="~/css/createCampaign.css?@(new Random().Next())" />
}

<div id="create-campaign" class="full-center">
    <div class="column-container full-height">
        <div class="column full-center">
            <div class="banner with-top-bot-margins left">
                <div class="banner-content">
                    <div style="display: flex; justify-content: space-between; align-items: center">
                        <h3 style="margin:0">Create a Campaign</h3>
                        <button id="create-button" class="wide" style="margin:0">Create</button>
                    </div>

                    <p>Campaign Name</p>
                    <textarea id="create-campaign__name"
                              maxlength="100"></textarea>

                    <p>Campaign Description</p>
                    <textarea id="create-campaign__description"
                              maxlength="300"></textarea>

                    <p>Information for the Players</p>
                    <textarea id="create-campaign__information"
                              maxlength="300" placeholder="Ex. avalibale races, what level to make characters, etc."></textarea>

                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('#create-button').click(function () {

            // Disable all the input fields.
            $('#create-campaign__name').attr("disabled", true);
            $('#create-campaign__description').attr("disabled", true);
            $('#create-campaign__information').attr("disabled", true);
            
            var createCampaignModel = {
                Name: $('#create-campaign__name').val(),
                Description: $('#create-campaign__description').val(),
                Information: $('#create-campaign__information').val()
            };
            network.post('/Campaign/Create', createCampaignModel, json => {

                // Enable all the input fields
                $('#create-campaign__name').attr("disabled", false);
                $('#create-campaign__description').attr("disabled", false);
                $('#create-campaign__information').attr("disabled", false);

                switch (json.response) {
                    case "ok":
                        console.log(json.message);

                        // Clear the input fields
                        $('#create-campaign__name').val("");
                        $('#create-campaign__description').val("");
                        $('#create-campaign__information').val("");

                        // Use notify.js to give the user a "success" notification
                        $('#create-button').click(function () {
                            notify.me({
                                class: centerPopupClasses,
                                header: 'Campaign Created Successfully!',
                                subheader: '',
                                body: 'Your campaign will now show in the view campaigns page! Click below to return to the page.',
                                onStartClose: () => {
                                    notify.overlay(false);
                                },
                                closeButton: true
                            });
                            notify.overlay(true);
                        });
                        break;
                    case "err":
                        console.error(json.message);

                        // Use notify.js to give the user a "failure" notification
                        $('#create-button').click(function () {
                            notify.me({
                                class: centerPopupClasses,
                                header: 'Campaign Failed to Create! :(',
                                subheader: 'You honestly should not be seeing this',
                                body: 'Something went wrong...which is never a good thing.',
                                onStartClose: () => {
                                    notify.overlay(false);
                                },
                                closeButton: true
                            });
                            notify.overlay(true);
                        });

                        break;
                }
            });
        });
    </script>
}