@{
    ViewData["Title"] = "Create a Campaign";
}

@section Head
{
    <link rel="stylesheet" href="~/css/createCampaign.css?@(new Random().Next())" />
}

<div id="create-campaign" class="full-center">
    <div class="column-container full-height">
        <div class="column">
            <div class="banner with-top-bot-margins left">
                <div class="banner-content">

                    <p>Campaign name</p>
                    <textarea id="create-campaign__name"
                              maxlength="100"></textarea>

                    <p>Campaign discription</p>
                    <textarea id="create-campaign__discription"
                              maxlength="300"></textarea>

                    <p>Information for the players</p>
                    <textarea id="create-campaign__npcs"
                              maxlength="300" placeholder="Ex. avalibale races, what level to make characters, etc."></textarea>

                    <p></p>
                    <button id="submit-button" class="wide">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('#submit-button').click(function () {

            // Disable all the input fields.

            var createCampaignModel = {
                Name: $('#create-campaign__name').val(),

            };
            network.post('/Campaign/Create', createCampaignModel, json => {

                // Enable all the input fields

                switch (json.response) {
                    case "ok":
                        console.log(json.message);

                        // Clear the input fields

                        // Use notify.js to give the user a "success" notification

                        break;
                    case "err":
                        console.error(json.message);

                        // Use notify.js to give the user a "failure" notification

                        break;
                }
            });
        });
    </script>
}