@{
    ViewData["Title"] = "User Dashboard";
}
@{
    var session = Singleton.Get<SessionService>();
    var persister = Singleton.Get<DynamoDbPersister>();
    var campaignService = Singleton.Get<CampaignService>();
    var userGuid = Guid.Parse(session.Get("UserGuid", "", HttpContextAccessor));
    var currentUser = persister.Get<UserObject>(userGuid);
    var campaigns = persister.Scan<CampaignObject>();

    <h3>Current Campaigns</h3>
    foreach (var campaign in campaigns)
    {
        var campaignGuid = campaign.Guid;
        if (campaignService.IsMemberInCampaign(userGuid, campaignGuid))
        {
<div class="user-dash__campaign">
    <h4>Name:</h4>
    <p>@campaign.Name</p>
    <h4>Dungeon Master:</h4>
    <p>@campaign.DungeonMasterGuid</p>
    <!-- Get the DM's user object and .FullName -->
    <h4>Players:</h4>
    <p>@campaign.PartyGuids</p>
    <!-- Get the list of players as user objects and then concatenate their.FullName as a string-list "A, B, C..." -->
    <h4>Description:</h4>
    <p>@campaign.Description</p>
</div>
        }
    }
}