@{
    ViewData["Title"] = "User Dashboard";
}
@{
    var session = Singleton.Get<SessionService>();
    var persister = Singleton.Get<DynamoDbPersister>();
    var campaignService = Singleton.Get<CampaignService>();
    var userGuid = Guid.Parse(session.Get("UserGuid", "", HttpContextAccessor));
    var currentUser = persister.Get<UserObject>(userGuid);
    var campaigns = persister.Scan<CampaignObject>();

    <h3>Current Campaigns</h3>
    foreach (var campaign in campaigns)
    {
        var campaignGuid = campaign.Guid;
        if (campaignService.IsMemberInCampaign(userGuid, campaignGuid))
        {
            var dmName = persister.Get<UserObject>(campaign.DungeonMasterGuid).FullName;

    <div class="user-dash__campaign">
        <div class="column-container full-height">
                <div class="wide banner with-top-bot-margins">
                    <div class="banner-content">
                        <div class="column full-center">
                            <a href="" class="main-taskbar__item"><h3>@campaign.Name</h3></a>
                        </div>
                            <div class="column text-left">
                                <p><strong>Dungeon Master: </strong>@dmName</p>
                                <!-- Get the DM's user object and .FullName -->
                                <p><strong>Players: </strong>@campaign.PartyGuids</p>
                                <!-- Get the list of players as user objects and then concatenate their.FullName as a string-list "A, B, C..." -->
                                <p><strong>Description: </strong>@campaign.Description</p>
                            </div>
                    </div>
                </div>
        </div>
    </div>
        }
    }
}
