@{
    ViewData["Title"] = "UserDash";
}
        <div id="user-dash" class="full-center">
            <div class="text-center">
                <p>Current Campaigns</p>
                <p>🤯</p>
                <p>Oh Snap! We don't have the data structures to support that yet.</p>
                <p>Be patient with us... or I'll find you.</p>
            </div>
        </div>
