@{
    ViewData["Title"] = "CreateCampaign";
}

    <div id="create-campaign" class="full-center">
        <div class="column-container full-height">
            <div class="column">
                <div class="banner with-top-bot-margins">
                    <div class="banner-content">
                        <p>This is the Create Campaign page.</p>
                        <p>🤯</p>
                    </div>

                    <a href="/Login">
                        Back to Login Page
                    </a>
                </div>
            </div>
        </div>
    </div>
