<div id="main-footer" class="page-padding">
    <div class="main-footer">
        <p>&copy; 2019, <b>DnDTracker</b></p>
        <div class="main-footer__buttons">
            <a class="main-footer__item" href="//github.com/itsmistad/DnDTracker">
                GitHub
            </a>
        </div>
    </div>
</div>