@using DnDTracker.Web
@using DnDTracker.Web.Configuration

@{ 
    var homeUrl = Singleton.Get<EnvironmentConfig>().CurrentHomeUrl;
}

<div id="main-header" class="page-padding border-bottom">
    <div class="main-header">
        <div class="main-header__logo">
            <a href="@homeUrl" class="main-header__item">
                <h2>DnDTracker</h2>
            </a>
        </div>
        <div class="main-header__buttons">
            <a href="/About" class="main-header__item">
                About
            </a>
            <a href="/Login" class="main-header__item">
                <!-- Here, we'll need to replace the functionality and text with the user's profile -->
                Login
            </a>
        </div>
    </div>
</div>