
@{ 
    var homeUrl = Singleton.Get<EnvironmentConfig>().CurrentHomeUrl;
    var session = Singleton.Get<SessionService>();

}

<div id="main-header" class="page-width-padding border-bottom">
    <div class="main-header">
        <div class="main-header__logo">
            <a href="@homeUrl" class="main-header__item">
                <h2 style="font-weight: bold">DnDTracker</h2>
            </a>
        </div>
        <div class="main-header__buttons">
            <a href="/About" class="main-header__item">
                About
            </a>

            @if (@session.Get("UserGuid", "", HttpContextAccessor) != "")
            { //Only show user item if logged in
                <a id="main-header__user" href="/UserDash" class="main-header__item">
                    User
                </a>
            }

            @if (session.Get("UserGuid", "", HttpContextAccessor) == "")
            { //Only show login item if not logged in
                <a id="main-header__login" href="/Login" class="main-header__item">
                    Login
                </a>
            }
        </div>
    </div>
</div>