
@{ 
    var homeUrl = Singleton.Get<EnvironmentConfig>().CurrentHomeUrl;
    var session = Singleton.Get<SessionService>();
    var isLoggedIn = session.Get("UserGuid", "", HttpContextAccessor) != "";
    var borderBottom = isLoggedIn ? "with-padding" : "border-bottom";
    var loginButtonText = isLoggedIn ? "Logout" : "Login";
}

<div id="main-header" class="page-width-padding @borderBottom">
    <div class="main-header">
        <div class="main-header__logo">
            <a href="@homeUrl" class="main-header__item">
                <h2 style="font-weight: bold">DnDTracker</h2>
            </a>
        </div>
        <div class="main-header__buttons">
            <a href="/About" class="main-header__item">
                <h4>About</h4>
            </a>
            <a href="/Login" class="main-header__item">
                <h4>@loginButtonText</h4>
            </a>
        </div>
    </div>
</div>
