
@{ 
    var homeUrl = Singleton.Get<EnvironmentConfig>().CurrentHomeUrl;
}

<div id="main-header" class="page-width-padding border-bottom">
    <div class="main-header">
        <div class="main-header__logo">
            <a href="@homeUrl" class="main-header__item">
                <h2 style="font-weight: bold">DnDTracker</h2>
            </a>
        </div>
        <div class="main-header__buttons">
            <a href="/About" class="main-header__item">
                About
            </a>
            @{ 
                /*
                * Here, we'll need to add the <a> and text that directs to the user's profile.
                * See AuthService.Authenticate for more information.
                * Todo: Replicate "main-header-login" for "Account", "Profile", "<FirstName>", or "<Email>" if !string.IsNullOrEmpty(userEmail).
                * Todo: Hide button by default in theme.(s)css
                * Todo: Show button on successful login in /Views/Login/Index.cshtml
                */
            }
            <a id="main-header__login" href="/Login" class="main-header__item">
                Login
            </a>
        </div>
    </div>
</div>